{% extends 'base.html' %}
{% block content %}

<h1>Account Group</h1>
<hr>
<a class="btn btn-success btn-sm" href="{{  url_for('account_group_create') }}" role="button">New Account Group</a>
<br>
<br>

<table class="table table-striped table-hover table-sm table-light align-middle">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Alias</th>
        <th scope="col">Parent Account Group Id</th> 
        <th scope="col">Parent Account Group Alias</th> 
    </tr>

    {% for account_group in account_groups %}
    <tr>
        <th scope="row">{{ account_group.id }}</td>
        <td>{{ account_group.name }}</td>
        <td>{% if account_group.description %} {{ account_group.description }} {% endif %}</td>
        <td>{{ account_group.alias }}</td>
        <td>{{ account_group.parent_account_group.id }}</td>
        <td>{{ account_group.parent_account_group.alias }}</td>
        <td>
            <div class="container-fluid">
                <a class="btn btn-primary btn-sm" href="{{  url_for('account_group_edit', account_group_id=account_group.id) }}" role="button">&#x270E;</a>
                <a class="btn btn-danger btn-sm" href="{{  url_for('account_group_delete', account_group_id=account_group.id) }}" role="button" onclick="return confirm('Are you sure you want to delete this entry?')">Delete</a>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
